body {
    font: normal 15px/1.5 Droid Sans, sans-serif;
    margin: 50px 0;
}
h1, h2 { margin: 0; line-height: 1.1em; }
h1 { font-size: 34px; letter-spacing: -1px; }
h2 {
    font-size: 18px;
}
#my-form {
    padding: 2em;
    visibility: hidden;
    background: #f0f0f0;
    border-radius: 2px;
}
#comments { 
    height: 10em; 
    width: 25em;
}