body {
  font: normal 15px/1.5 Arial, Helvetica, Free Sans, sans-serif;
  color: #222;
  background: #333;
  overflow-y: scroll;
}
#main {
  background: url(../img/pattern.png);
  padding: 60px 0;
}
header {
  padding: 15px 0;
  background: #285E85;
  box-shadow: inset 0 -1px 5px rgba(0,0,0,.3);
}
.content h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  margin-bottom: .5em;
  line-height: 1;
}
.content h1 {
  font-size: 30px;
}
.content p {
  margin: .5em 0 1em 0;
}
.content ul {
  margin: 0 0 1.5em 0;
  padding: 0;
  list-style: none;
}
.content li {
  margin: .5em 0;
  padding-left: 1.5em;
  background: url(../img/bullet.png) 0 2px no-repeat;
}
.content a:link,
.content a:visited {
  color: #2680BF;
  text-decoration: none;
  border-bottom: 1px solid #2680BF;
  font-weight: bold;
}
.content code {
  font-family: Menlo, Consolas, Courier New, monospaced;
  background: white;
  padding: .2em .5em;
  font-size: 85%;
  border-radius: 3px;
}
footer {
  padding: 40px 0;
  background: #333;
  color: white;
  box-shadow: inset 0 5px 5px rgba(0,0,0,.3);
}
footer a:link,
footer a:visited {
  color: white;
  border-color: white;
}
#fork {
  float: right;
  margin: 0;
}
#copy {
  display: inline-block;
  margin: 0;
}
#title {
  color: white;
  font-size: 18px;
  display: inline-block;
  margin: 0;
  line-height: 34px;
}
#title img {
  vertical-align: middle;
}
#calltoaction {
  float: right;
  margin: 0 2em;
  line-height: 34px;
  color: white;
}
#download {
  float: right;
  background: white;
  padding: .5em 1.6em;
  color: #285E85;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  border-radius: 3px;
}
#download:active {
  position: relative;
  top: 1px;
  box-shadow: none;
}
.mycol {
  padding-top: 14px;
}
#donate {
  margin-top: 15px;
}

/* Form
 * ------------------------------------------------ */

#my-form {
  border: 1px solid #ccc;
  padding: 3em;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
}
#comments {
  width: 350px;
  height: 100px;
}

/* Labels on top */
/*.ideal-field { clear: both; margin-top: 1em; }*/
/*.ideal-error { margin-top: 3em; }*/
/*.stack .ideal-field { margin: auto; }*/


/* Responsive
 * ------------------------------------------------ */

@media all and (max-width: 768px) {
  #main { padding: 30px 0; }
  #my-form { padding: 1.5em; margin-top: 30px; }
  #calltoaction { float: left; margin: 0; }
  #download, #title, #calltoaction { float: left; clear: both; }
  #download { float: left; margin-top: .8em; }
}
