/* --------------------------------------------------------

  Custom buttons:

-------------------------------------------------------- */

  .ideal-button {
    .no-user-select;
    .ui-color(@button, @button-text);
    font-size: @small-font-size;
    padding: 0 1.2em;
    margin-right: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    &:hover,
    &:focus {
      .ui-focus(@button-focus, @button-focus-text);
    }
    &:active {
      .ui-active(@button-focus);
    }
  }
