/* --------------------------------------------------------

  User Config:

/*------------------------------------------------------ */
/* --------------------------------------------------------
  Layout:
  * keep same units
/*------------------------------------------------------ */
/* `auto` for auto-adjust */
/*--------------------------------------------------------
  Theme:
------------------------------------------------------- */
/* Form */
/* Validation */
/* Separator */
/* Headings */
/* Text inputs */
/* Buttons */
/* Select */
/* 7 items in scroll view */
/* Radio & Checkbox */
/*--------------------------------------------------------
  Extra:
  Edit these variables wisely...
------------------------------------------------------- */
